<div class="page-header">
  <h1>ADEO Intern & Work</h1>
</div>
<%= image_tag 'logo.png', width: 200, class: 'img-responsive logo' %>
<p class="lead">
<strong>Soruları &ccedil;&ouml;zerken aşağıdaki notlara dikkat edilmesi gerekmektedir.</strong>

<blockquote>
  <ol>
    <li>Bazı sorularda cevap limiti bulunmaktadır. Bu sorulara cevap verirken hesaplamalarınızdan veya cevabın doğruluğundan emin olunuz.</li>
    <li>Yorum sorularında tek bir cevap yoktur. Vereceğiniz cevaplar tarafımızdan değerlendirilecek ve puanlandırılacaktır.</li>
  </ol>
</blockquote>
</p>
